<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body style="background-color: #d8f4ff" >

  <div class="container center-align row flow-text">
    <a href="/"><img src="img/air_logo/3.png" alt="logo_front" style="width:15vw; margin:2%;"></a>
    <div class="submit_form col s10 offset-s1">
      <div style="margin-left: 5%;"><a href="signup" style="color: inherit; " class="left" >회  원  가  입</a><a href="#" style="color: inherit; font-size: 1em;" class="right" >아 이 디   찾 기</a><a href="#" style="color: inherit; font-size: 1em; margin-left: 2%; margin-right: 2%;" class="right" >|</a><a href="login" style="color: inherit;" class="right" >비 밀 번 호   찾 기</a></div>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.text_field :username, :placeholder => "id",id:"submit_space"%>
        <%= f.password_field :password, :placeholder => "Password", id:"submit_space"%>
        <%= f.submit "로  그  인", id: "submit_button" %>
      <% end %>
      </div>
    </div>


</body>
</html>

<!-- stylesheet -->
<style media="screen">
#submit_space {
  height: auto;
  width: 85%;
  background-color: white;
  /*display: inline-block;*/
  padding: 2%;
  margin: 1%;
  font-size: 32px;
  color: black;
  border-radius: 10px;
  box-shadow: 5px 5px #02aad1;
  text-overflow: ellipsis;
}
#submit_space:hover {box-shadow:5px 5px #00008B;}

#submit_button {
  display: inline-block;
  /*padding: 5px 420px ;*/
  width: 90%;
  padding: 2%;
  font-size: 110%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #02aad1;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px #999;
  margin: 3%;
}

#submit_button:hover {background-color: #00008B;box-shadow: 5px 5px #02aad1;}
</style>
