<div id="default_page">
  <img src="" alt="Three Deers">
  <p>문제를 다 푸셨군요! 학습 범위를 늘려보세요!</p>
</div>

<script type="text/javascript">
$(document).ready(function(){
  default_page();

})
function default_page(){
  $('#default_page img').attr("src",function(){
    var ran_num=Math.floor((Math.random() * 3) + 1);
    return "/img/logos/deer3/0"+ran_num+".png";
  })
}
</script>
