
<div><img src="img/logo_front.png" alt="logo_front" style="width:30%"></div>
<p class = "img_src" style="font-size: 170%">AIR와 함께 맞춤형 문제들을 통해 효과적인 공부를 해보세요!</p>

<!-- <a href="http://naver.com"><img src="img/button_start.png" style="width:70%" class="hoverable"></a> -->
<a href="http://naver.com"><div id="start_button">학 습 시 작</div></a>
<!-- Page Content goes here -->
</div>
<!--Import jQuery before materialize.js-->

<!-- stylesheet -->
<style media="screen">
  #start_button {
    display: inline-block;
    padding: 5px 420px ;
    font-size: 32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #02aad1;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px #999;
  }

  #start_button:hover {background-color: #00008B;}
  img{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  p{
    padding: 20px 20px 20px 20px;
  }
</style>
