<div class="container center-align">

<div><img src="img/logos/deer3/03.png" alt="logo_front" style="height:60vh; padding-left:16vw;"></div>
<p class = "img_src" style="font-size: 2vw; margin:0%;">AIR와 함께 맞춤형 문제들을 통해 효과적인 공부를 해보세요!</p>

<!-- <a href="http://naver.com"><img src="img/button_start.png" style="width:70%" class="hoverable"></a> -->
<a href="/recommend"><div id="start_button">학  습  시  작</div></a>
<!-- Page Content goes here -->
</div>
</div>

<!--Import jQuery before materialize.js-->

<!-- stylesheet -->
<style media="screen">
#start_button {
  display: inline-block;
  padding: 1.5% 1%;
  width: 90%;
  padding: 0.5%;
  font-size: 1.5vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #02aad1;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px #999;
  margin: 3%;
}

#start_button:hover {background-color: #00008B;box-shadow: 5px 5px #02aad1;}
  img{
    padding-top: 5%;
    padding-bottom: 3%;
  }
  p{
    padding: 20px 20px 20px 20px;
  }
</style>
