// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
text{
  cursor: default;
}
.chart_content{
  margin-top:7vh;
  height: 80vh;
}
.row{
  margin: 0 !important;
}
.subjects.show_chart, .chapters.show_chart{
  background-color: #E1FFCA;
}


#nav{
  // border-right: 3px solid #d8f4ff;
  background-color: #B1E7FD;
}
.tests{
  padding-left: 2vh;

}

.icon{
  margin-right: 1vh;
  width: 2vh;
  position: relative;
  span{
    margin: 0;
  	position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
}

.subjects{
  padding-left: 4vh;
}
.chapters{
  padding-left: 8vh;
}
.hyegun_box{
  font-size: 2vh;
  background-color: white;
  border-color: #02AAD1;
}

#default_page{
  img {
    margin: 10vh 0 5vh 0;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p{
    font-size: 3em;
    text-align: center;
  }
}

text{
  word-break: keep-all;
}
