// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  // background-color: orange;
}
.row{
  margin: 0 !important;
}
.subjects.show_chart{
  background-color: yellow;
}
.chapters.show_chart{
  background-color: lime;
}

#nav{
  border-right: 3px solid #d8f4ff;
  background-color: rgba(216, 244, 255,0.2);
}
.tests{
  padding-left: 2rem;
}
.icon{
  margin-right: 2rem;
  width: auto;
}
.subjects{
  padding-left: 4rem;
}
.chapters{
  padding-left: 8rem;
}
