// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .mjx-mfrac{
    font-size: 130%;
  }
  #answer_converted{
    font-size: 150%;
  }
  #answer{
    display: none !important;
    background-color: yellow;
  }

  #textarea {
    border-bottom: none !important;
    margin: 0 ;
    font-size: 2rem;

  }
  #textarea::placeholder {
    border: blue;
  }
  #textarea:focus{
    border: black;
    color: black;
    border-top: blue;

  }
  #OX{
    position: fixed;
    height: 15vh;
    top:12vh;left:5vw;
  }
  .mjx-chtml{
    white-space: normal;
  }
  .row{
    margin:0;
  }

  .scroll_problem{
    margin: 0;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 100%;
    padding: 0;
    font-size: 150%;
    div{
      padding: 3vh 2vh 3vh 2vh;
    }
  }

  .image_box{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 0;
  }
  #problem_box{
    height:70vh;
  }
  #answer_box{
    height:51vh;
    margin-left: 0;
  }
  .box_shadow{
    border-radius: 10px;
    box-shadow: 5px 5px #02aad1 ;
  }
  .round_button{
    height:6.25vh;
    margin-top: 3.25vh;
    font-size: 2em;
    /*cursor: pointer;*/

  }

  // .problem_button{
  //   font-size:
  // }
  #input_box{
    display: flex;align-items:center;
    color: gray;
    box-shadow: 5px 5px #02aad1;
    cursor: text;
    border:1px solid gray;
  }
  #submit_button{
    display: flex;justify-content: center;align-items:center;
    color: white;
    background-color: yellowgreen;
    border: none;
    box-shadow: 5px 5px #02aad1 ;
    width: 100%;
  }
  .disabled_button{
    color: white;
    background-color: #E6E6E6 !important;
    box-shadow: 5px 5px #A27A58 !important;
  }
  .brownish_box_shadow{
    box-shadow: 5px 5px #A27A58;
  }

  #see_answer{
    margin-left: 0;
    display: flex;justify-content: center;align-items:center;
    color: white;
    background-color: #FF1D25;
  }
  #next_problem{
    margin-left: 0;
    display: flex;justify-content: center;align-items:center;
    color: white;
    background-color: #02AAD1;
  }
#problem_number{
  margin-top: 3vh;
  font-size: 3em;
  font-weight: bold;
  height: 7vh;
}
  #input_box:hover {box-shadow: 5px 5px #00008B;}
  #submit_button:hover {background-color: green;box-shadow: 5px 5px #00008B;}
  #see_answer:hover, #next_problem:hover {background-color: black;box-shadow: 5px 5px #02aad1;}
